---
title: Contact Us
layout: page
permalink: /contactus/
---
<h3 class="mb-3"><a id="staff"></a>General Inquires</h3>

<p>For general questions regarding lab, please contact Nancy Muschall.</p>
    <ul class="list-group">
        <li class="">
            <i class="fas fa-phone-alt mr-2"></i> Phone: +49 341 9940-7412
        </li>
        <li class="">
            <i class="fas fa-fax mr-2"></i> Fax: +49 341 9940-4524
        </li>
        <li class="">
            <i class="fas fa-envelope mr-2"></i> Email: muschall@gmail.com
        </li>
    </ul>



<!-- Staff -->
<h2 class="mb-3"><a id="staff"></a>Team</h2>

{% assign members = site.posts | where: 'category', 'staff' | sort: 'date' %}
<ul class="list-unstyled">
<div class="row">
{% for member in members%}
    {% assign ncols = 2 %}
    {% assign i = forloop.index0 | modulo: ncols %}
        <div class="col">
            {%- include team_member.html -%}
        </div>
    {% if i == 1 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
</div>
</ul>


