---
title: Publications
layout: page
excerpt: RT2 Lab -- Publications.
permalink: /publications/
---
<button id="scrollToTopButton"  class="btn btn-light" onclick="scrollToTop()"></button>

<script>
  // JavaScript code for scroll-to-top functionality
  window.onscroll = function() {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      document.getElementById("scrollToTopButton").style.display = "block";
    } else {
      document.getElementById("scrollToTopButton").style.display = "none";
    }
  };

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    });
  }
</script>

<style>
#scrollToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0A6B65;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

#scrollToTopButton {
    /* Existing styles */
    transition: border-radius 0.3s, background-color 0.3s;
}

#scrollToTopButton:hover {
    background-color: #0056b3;
    border-radius: 70%;
}

#scrollToTopButton::before {
    content: "Top"; 
    font-weight: bold;
}
</style>

<ul class="list-unstyled">
    {% assign pub_list = site.data.publications | sort: 'Publication Year' | group_by: 'Publication Year' | reverse %}

    {% for group in pub_list %}

        {% assign year = group.name | to_integer %}

        <h3 class="mt-4">{{ year }}</h3>
        {% for publi in group.items %}
            {%- include publication.html -%}
        {% endfor %}

    {% endfor %}
</ul>
