<div id="footer" class="site-footer mt-5">
	<div class="mt-3">
		<div class="row d-flex">

			<div class="col-sm-6">
				<p class="font-weight-bold">{{ site.title }}</p>

				<ul class="list-unstyled list-inline">

					<li class="list-inline-item">
						<a href="https://www.cbs.mpg.de/en">
							<img class="img-fluid" src="/assets/images/mpicbs.png" style="max-height: 60px;">
						</a>
					</li>

				</ul>

			</div>

			<div class="col-sm-3">
				<p class="font-weight-bold">Links</p>
				<ul class="list-unstyled">
					<li><a href="https://github.com/neural-data-science-lab">Github</a></li>
					<li><a href="https://www.cbs.mpg.de/methods-and-development-groups/neural-data-science-and-statistical-computing">Institute Page</a></li>
				</ul>
			</div>

			<div class="col-sm-3">
				<p class="font-weight-bold">Contact</p>

				Stephanstraße 1a<br>
				04103<br>
				Leipzig<br>
				Germany
			</div>
		</div>

		<div class="footer-copyright text-center py-3">
			© 2023 {{ site.author }}
		</div>
	</div>
</div>
