<header class="site-header" role="banner">
	<nav class="navbar navbar-expand-sm navbar-light">

		<!-- Navbar brand -->
                  <span class="navbar-brand" href="">
                     <img src="{{ site.baseurl }}/assets/favicon_io/android-chrome-192x192.png" alt="" width="48" height="48" style="margin-left: -20px;">{{ site.title }}</span>

		<!-- Navbar toggler button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
			aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav mr-auto">
				<li>
					<a class="nav-link" href="/">Home</a>
				</li>
				<li>
					<a class="nav-link" href="/team">People</a>
				</li>

				<li>
					<a class="nav-link" href="/publications">Publications</a>
				</li>

				<li>
					<a class="nav-link" href="/ourresearch">Research Areas</a>
				</li>

				<li>
					<a class="nav-link" href="/contactus">Contact Us</a>
				</li>

			</ul>
		</div>

	</nav>
</header>
