<li class="media mb-1">
    <div class="media-body">

        <p>
            <!-- Preview Image or Gif -->
            
            {% if publi.Preview %}
                <img src="{{ publi.Preview }}" alt="Preview" style="max-width: 400px; margin-right: 10px; float: left; /">
            {% endif %}

            <!-- author -->
            {{ publi.Author }},

            <!-- year -->
            {{ publi['Publication Year'] | to_integer }},


            <!-- article title -->
            <span style="font-weight: bold; font-size: larger;">{{ publi.Title }}</span>,

            <!-- journal -->
            <span class="font-italic" style="font-weight: bold; font-size: larger;">{{ publi['Journal'] }}</span>



            <!-- DOI -->
            {% if publi.DOI %}
                <p><a href="https://doi.org/{{publi.DOI}}" class="btn btn-outline-primary">ACCESS PAPER</a></p>
            {% endif %}
        </p>

    </div>
</li>
<hr>
<div style="clear: both;"></div> <!-- Add this to clear the float -->
