---
layout: default
---
<style>
    .nobullet{
        list-style-type: none;
    }
    .list {
     list-style:disc outside none;
     display:list-item; 
     }
</style>
<h3 class="mb-3"><a id="staff"></a>General Inquires</h3>
<div class="container mt-4">
<p class="list">For general questions regarding lab, please contact Nancy Muschall.</p>

    <ul class="nobullet">
        <li class="">
            <i class="fas fa-phone-alt mr-2"></i> Phone: +49 341 9940-7412
        </li>
        <li class="">
            <i class="fas fa-fax mr-2"></i> Fax: +49 341 9940-4524
        </li>
        <li class="">
            <i class="fas fa-envelope mr-2"></i> Email: muschall@gmail.com
        </li>
    </ul>
<p class="list">For applications to join our vibrant team, please read the following section.</p>
</div>
<h3 class="mb-3"><a id="staff"></a>Open Positions</h3>
  
    {% capture open_positions_content %}
  {% include_relative open-positions.md %}
{% endcapture %}

{% assign lines = open_positions_content | newline_to_br | split: '<br />' %}
{% assign skip = false %}

{% for line in lines %}
  {% if line contains '---' %}
    {% assign skip = true %}
    {% continue %}
  {% endif %}

  {% if skip %}
    {{ line }}
  {% endif %}
{% endfor | markdownify %}




