---
layout: default
---
<style>
    .nobullet{
        list-style-type: none;
    }
    .list {
     list-style:disc outside none;
     display:list-item; 
     }
</style>
<h3 class="mb-3"><a id="staff"></a>General Inquires</h3>
<div class="container mt-4">
<p class="list">For general questions regarding lab, please contact Nancy Muschall.</p>

    <ul class="nobullet">
        <li class="">
            <i class="fas fa-phone-alt mr-2"></i> Phone: +49 341 9940-7412
        </li>
        <li class="">
            <i class="fas fa-fax mr-2"></i> Fax: +49 341 9940-4524
        </li>
        <li class="">
            <i class="fas fa-envelope mr-2"></i> Email: muschall@gmail.com
        </li>
    </ul>
<p class="list">For applications to join our vibrant team, please read the following section.</p>
<br>
    <h3 class="mb-3"><a id="staff"></a>Open Positions</h3>

    {% assign internships_content = internships_content | default: capture %}{% include_relative open-positions.md start="## Internships" end="## Master's Thesis" %}
    {% assign masters_thesis_content = masters_thesis_content | default: capture %}{% include_relative open-positions.md start="## Master's Thesis" end="## Ph.D. Applications" %}
    {% assign phd_applications_content = phd_applications_content | default: capture %}{% include_relative open-positions.md start="## Ph.D. Applications" end="## PostDoc Applications" %}
    {% assign postdoc_applications_content = postdoc_applications_content | default: capture %}{% include_relative open-positions.md start="## PostDoc Applications" end="" %}

    <div class="mb-3">
        {{ internships_content | markdownify }}
    </div>

    <div class="mb-3">
        {{ masters_thesis_content | markdownify }}
    </div>

    <div class="mb-3">
        {{ phd_applications_content | markdownify }}
    </div>

    <div class="mb-3">
        {{ postdoc_applications_content | markdownify }}
    </div>



</div>





