---
layout: default
---
<style>
    .nobullet{
        list-style-type: none;
    }
    .list {
     list-style:disc outside none;
     display:list-item; 
     }
</style>
<h3 class="mb-3"><a id="staff"></a>General Inquires</h3>
<div class="container mt-4 ml-4">
<p class="list">For general questions regarding lab, please directly contact Nico Scherf.</p>

    <ul class="nobullet">
        <li class="">
            <i class="fas fa-phone-alt mr-2">  </i>  Phone: +49 341 9940 2692
        </li>
        <li class="">
            <i class="fas fa-envelope mr-2"> </i> Email: <a href="mailto:nscherf@cbs.mpg.de"> nscherf@cbs.mpg.de </a>
        </li>
    </ul>
<p class="list">For applications to join our vibrant team, please read the following section.</p>
</div>
<h3 class="mb-3"><a id="staff"></a>Open Positions</h3>

<div class="container mt-2 ml-1">
    
{{ content }}
</div>



