<!DOCTYPE html>
<html>

  {% include head.html %}
<button id="scrollToTopButton" onclick="scrollToTop()">Top</button>

<script>
  // JavaScript code for scroll-to-top functionality
  window.onscroll = function() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("scrollToTopButton").style.display = "block";
    } else {
      document.getElementById("scrollToTopButton").style.display = "none";
    }
  };

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    });
  }
</script>
  <body>

    <div class="container-fluid">
      <div>
        {%- include header.html -%}
      </div>

      <div class="mt-3">
        {{ content }}
      </div>

      <div>
        {% include footer.html %}
      </div>
    </div>

  </body>

</html>
