---
layout: default
---

<button id="scrollToTopButton" class="btn btn-light" onclick="scrollToTop()" ontouchstart="scrollToTopTouch()"></button>

<script>
  window.onscroll = function() {
    var button = document.getElementById("scrollToTopButton");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      button.style.display = "block";
    } else {
      button.style.display = "none";
    }
  };

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    });
    document.getElementById("scrollToTopButton").blur(); // Remove focus after click
  }

  function scrollToTopTouch() {
    var button = document.getElementById("scrollToTopButton");
    button.classList.add("refresh"); // Add a class for styling
    scrollToTop();

    // Refresh the button after a delay
    setTimeout(function() {
      button.classList.remove("refresh");
    }, 1000); // Adjust the delay as needed
  }
</script>

<style>
#scrollToTopButton {
    display: none;
    position: fixed;
    width: 70px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: #0A6B65;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    transition: background-color 0.8s, color 0.8s;
}

#scrollToTopButton::before {
    content: "Top";
    font-weight: bold;
}

#scrollToTopButton:active::before,
#scrollToTopButton:focus::before {
    content: "^";
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#scrollToTopButton.refresh::before {
    content: "Top"; /* Reset content after refresh */
}

#scrollToTopButton:active,
#scrollToTopButton:focus {
    background-color: transparent;
    color: #0A6B65;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#scrollToTopButton.refresh:active::before,
#scrollToTopButton.refresh:focus::before {
    content: "^"; /* Adjust content after refresh */
}

#scrollToTopButton.refresh:active,
#scrollToTopButton.refresh:focus {
    background-color: transparent;
    color: #0A6B65;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#scrollToTopButton:focus {
    outline: none;
}
</style>

<div>
	<h1 class="mb-5">{{ page.title }}</h1>
	{{ content }}
</div>

<script>
const allPTags = document.querySelectorAll("p");

allPTags.forEach((elem) => {
    if (elem.innerText === "" && elem.childNodes.length === 1 && elem.childNodes[0].tagName === "IMG") {
        elem.parentNode.insertBefore(elem.childNodes[0], elem);
        elem.remove();
    }
});
</script>
