---
layout: default
---
<button id="scrollToTopButton" class="btn btn-light" onclick="scrollToTop()" ontouchstart="scrollToTopTouch()"></button>

<script>
  // JavaScript code for scroll-to-top functionality
  window.onscroll = function() {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      document.getElementById("scrollToTopButton").style.display = "block";
    } else {
      document.getElementById("scrollToTopButton").style.display = "none";
    }
  };

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    });
  }

  function scrollToTopTouch() {
    // Handle touch events separately
    scrollToTop();
    document.getElementById("scrollToTopButton").blur(); // Remove focus after touch
  }
</script>

<style>
#scrollToTopButton {
    display: none;
    position: fixed;
    width: 70px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: #0A6B65;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    transition: background-color 0.8s, color 0.8s;
}

#scrollToTopButton {
    background-color: #0A6B65;
    color: #fff;
    border: 2px solid #0A6B65;
    transition: border-radius 0.8s, background-color 0.8s, color 0.8s;
}

#scrollToTopButton::before {
    content: "Top";
    font-weight: bold;
}

#scrollToTopButton:hover::before,
#scrollToTopButton:active::before,
#scrollToTopButton:focus::before {
    content: "^";
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#scrollToTopButton:hover,
#scrollToTopButton:active,
#scrollToTopButton:focus {
    background-color: transparent;
    color: #0A6B65;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#scrollToTopButton:focus {
    outline: none;
}
</style>

<div>
	<h1 class="mb-5">{{ page.title }}</h1>
	{{ content }}
</div>
